

<ion-content  [fullscreen]="true" class="ion-padding ion-text-center">

  <div class="logo">
    <img src="http://carrerasuniversitarias.com.co/logos/original/logo-politecnico-internacional.png" alt="">
  </div>



<div class="form">
  <ion-item lines='none'>
    <ion-input  placeholder="Enter email"></ion-input>
  </ion-item>

  <ion-item lines='none'>
    <ion-input  placeholder="Enter email" type="password"></ion-input>
  </ion-item>

  <ion-button color='dark' expand='block'>Registrarse</ion-button>
</div>
<ion-button fill='clear'>(nuevo) crear cuenta</ion-button>



</ion-content>

